introduccion-3/s22-NodePackageManager/package-lock.json

introduccion-3/s22-NodePackageManager/node_modules/

introduccion-4-express/s25-introduccion-express/node_modules/

introduccion-4-express/s26-express-rutas/node_modules/

introduccion-4-express/s27-ejemplos-midleware/node_modules/