<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div> Tu nombre es: {{nombre}} y tienes {{edad}} años de edad (age)</div>
    <div> 
        {{#datos}}
        <li> Carrera: {{carrera}} --- Semestre:  {{semestre}} --- Promedio: {{promedio}} </li>
        
        {{/datos}}
    </div>
</body>
</html>